.contact-areas {
	margin:40px 0;
	font-size:24px;
	color:$main;
	
	p {
		margin-bottom:25px;
	}
}
.contact-map {
	margin-top:20px;
	
	img {
		margin:0 auto;
	}
}
.contact-information {
	hr {
		margin:30px 0;
	}
	p {
		margin-bottom:25px;
	}
	.contact-details {
		margin:40px 0;
		font-size:20px;
	
		p {
			margin-bottom:1em;
		}
	}
}
@media (min-width: 768px){
	.contact-information {
	
		.contact-details {
			font-size:24px;
		}
	}
}
