footer {
	text-align:center;
	padding-bottom:15px;
	
	p.btn {
		padding-left:0;
		margin-bottom:30px;
	}
	li {
		font-size:14px;
	}
}
@media (min-width: 768px){
	footer {
		text-align:left;
	
		p.btn {
			margin-bottom:0;
		}
		.nav {
			float:right;
			
			a {
				padding:10px 5px;
			}
		}
	}
}
@media (min-width: 992px){
	footer {
		li {
			font-size:16px;
		}
		.nav {
			a {
				padding:10px 15px;
			}
		}
	}
}
