.banner-img {
	width: 100%;
	height: auto;
}
.jumbotron {
	background-color: transparent;
	text-align: center;
	padding-top:0;
	padding-bottom:0;
	
	h1, h2, h3 {
		color: $mainAccent;
	}
	h1 {
		font-size: 42px;
	    font-weight: bold;
	}
	h2 {
		margin-bottom:25px;
	}
	h3 {
		margin-top:20px;
		margin-bottom:20px;
	}
	p {
		font-size:18px;
	}
	li {
		font-size:18px;
	}
	.devolution-map {
		text-align:left;
		
		li {
			margin-bottom:0.5em;
		}
	}
	hr {
		margin-top:40px;
	}
}
.services-blob {
	width: 200px;
	height: 200px;
	padding: 15px;
	margin: 15px;
	color: white;
	font-weight: bold;
	float: left;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.services-blobs {
	a {
		@include hoverFadeMouseOff;
		
		&:hover {
			@include hoverFadeMouseOn;
		}	
		&:nth-child(1) .services-blob {
			background-color: $devoPurple;
		}
		&:nth-child(2) .services-blob {
			background-color: $mainAccent;
		}
		&:nth-child(3) .services-blob {
			background-color: $devoGreen;
		}
	}
}
.logo-gmc-fixed {
	padding: 15px;
	background-color: $main;
	margin: 15px;
}
@media (min-width: 768px){
	.footer-top {

		.logo-gmc-fixed {
			position: absolute;
			right: 0;
			margin: 0;

			&#fixed-top {
				top: 76%;
			}
			&#fixed-bottom {
				bottom: -130%;
				margin-bottom: 20px;
			}

		}
	}
}