.page-template-page-gmc {
	h2 {
		margin-bottom:20px;
	}
	.services-blobs {
		margin-top:30px;
		margin-bottom:30px;
		
		div {
			@include hoverFadeMouseOff;
			text-align:center;
			width:165px;
			height:165px;
		
			&:hover {
				@include hoverFadeMouseOn;
			}	
			&:nth-child(1) {
				background-color: #004549;
			}
			&:nth-child(2) {
				background-color: $devoPurple;
			}
			&:nth-child(3) {
				background-color: $main;
			}
			&:nth-child(4) {
				background-color: $devoGreen;
			}
			a {
				color:#fff;
				display:block;
				
				&:hover {
					text-decoration:none;
				}
			}
		}
	}
	.btn {
		margin-top:30px;
		margin-bottom:40px;
	}
	.gallery {
		margin-top:20px;
		
		.gallery-item {
			margin-bottom:25px;
			
			img {
				max-width:100%;
				min-width:100%;
			}
		}
	}
	.contacts {
		font-size:1.4em;
		margin-bottom:50px;
	}
}