a.header-logo {
	display: block;
	text-align: center;
	margin: 20px auto 25px auto;
	width:160px;
	
	img {
		max-width:100%;
	}
}
.navbar {
	background-color: $main;
	margin-bottom: 0;
	border:0;

	.navbar-header {

		> h4 {
			color: white;
		}

		.navbar-toggle {
			border: 1px solid white;
			display: block;
			float: none;
		    margin: 15px auto;
		}
		
		.navtext {
			color: white;
			font-weight: bold;
		}

		.navbar-nav {

			> li {

				a {
					transition: all 0.25s linear;
					color: white;

					&:hover,
					&:active {
						color: $mainAccent;
					}
				}
			}
		}
	}
	@media (min-width: 768px){

		.navbar-header {
			float: none;

			.navbar-nav {
				float: none;
				display: flex;
				justify-content: center;

			}	
		}
	}
}