 .page-template-page-devolution-network {
	h2 {
		padding-top:5px;
		
		img {
			position:relative;
			top:-5px;
		}
	}
 }
.network-member {
	position:relative;
	text-align:center;
	margin-top:40px;
	
	img {
		max-width:100%;
		display:block;
		margin:0 auto;
		border-radius:200px;
	}
	.network-member-info {
		opacity:0;
		visibility:hidden;
		background:$mainAccent;
		padding:15px;
		position:relative;
		color:#fff;
		z-index:2;
		height:0;
		
		&:after 
		{
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 15px 15px;
		border-color: #0065B1 transparent;
		display: block;
		width: 0;
		z-index: 1;
		top: -15px;
		left: 50%;
		margin-left:-16px;
		}
		img {
			border-radius:0;
		}
	}
	&:hover .network-member-info {
		opacity:1;
		visibility:visible;
		height:auto;
	}
}

@media (min-width: 768px){
	.network-member {
		.network-member-info {
			position:absolute;
			top:258px;
			left:0;
			z-index:2;
		}
	}
}