body {
	font-size:16px;
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}
// Useful helper classes
.phone {
	text-decoration: none;
	cursor:default;

	&:hover,
	&:active {
		color: $main;
		text-decoration: none;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: $main;

	> a {
		color: $main;
	}
}
h1 {
	margin-top:45px;
	margin-bottom:25px;
	color:$mainAccent;
	text-align:center;
}
.content {
	padding-bottom:60px;
}
.page-header {
	margin-top:0;
}
.row-high {
	margin-top: $moreverticalrhythym;
	margin-bottom: $moreverticalrhythym;
}
.row-extrahigh {
	margin-top: $moreverticalrhythym * 2;
	margin-bottom: $moreverticalrhythym * 2;
}
.flex-center {
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.flex-row {
	flex-direction: row;
}
.text-main {
	color: $main;
}
.text-accent {
	color: $mainAccent;
}
.text-uppercase {
	text-transform: uppercase;
}

@media (min-width: 768px){
	.flex {
		// has to go in a mq otherwise creates overflow issues on small viewports
		display: flex;
	}
}
