// FONT: enqueue via functions.php
$font-family-sans-serif: 'Raleway', sans-serif;

// Vertical rhythym - helps legibility
$verticalrhythym: 15px;
$moreverticalrhythym: $verticalrhythym * 2;

// Colours
$main: #009DA9; $brand-primary: $main;
$mainAccent: #0065B1;
$link-color: $main;
$link-hover-color: $mainAccent;

$devoPurple: #046a73;
$devoGreen: #7dccd3;


// bootstrap
@import 'bootstrap';

// theme
@import 'project';
@import 'animations';
@import 'browserfixes';

// partials
@import 'header';
@import 'footer';
@import 'sidebar';
@import 'cards';

// pages

@import 'frontpage';
@import 'pageservices';
@import 'network';
@import 'intelligence';
@import 'contact';